<!DOCTYPE html>​

<html>

<head>​
    <title>Sistema de Reservas de Espaços Coletivos</title>​
</head>​

<body>​
    <center> ​
        <h1> Sistema de Reservas de Espaços Coletivos </h1>​
        <a href="/usuarioCreate"> <button> Cadastrar Usuário</button> </a> ​
        <a href="/usuarioList"> <button> Listar Usuários</button> </a>​
        <a href="/espacoCreate"> <button> Cadastrar Espaços</button> </a> ​
        <a href="/espacoList"> <button> Listar Espaços</button> </a>​
        <a href="/reservaCreate"> <button> Cadastrar Reservas</button> </a> ​
        <a href="/reservaList"> <button> Listar Reservas</button> </a>​
        <a href="/comentarioCreate"> <button> Cadastrar Comentário</button> </a> ​
        <a href="/comentarioList"> <button> Listar Comentários</button> </a>
        <br> <br>​
        {{{body}}}​
    </center>​
</body>​

</html>