<!DOCTYPE html>
<html>
<head>
    <title>Sistema de Reservas de Espaços Coletivos</title>
</head>
<body>
    <center> 
        <h1> Sistema de Reservas de Espaços Coletivos </h1>
        <a href="/usuarioList"> <button>Listar Usuários</button> </a>
        <a href="/espaco/create"> <button>Cadastrar Espaço</button> </a> 
        <a href="/espaco/list"> <button>Listar Espaços</button> </a>
        <a href="/reserva/create"> <button>Cadastrar Reserva</button> </a> 
        <a href="/reserva/list"> <button>Listar Reservas</button> </a>
        <a href="/log/list"> <button>Listar Logs de Auditoria</button> </a>
        <a href="/logout"> <button>Logout</button> </a>
        <br> <br>
        {{{body}}}
    </center>
</body>
</html>