<!DOCTYPE html>​

<html>

<head>​
    <title>Sistema de Reservas de Espaços Coletivos</title>​
</head>​

<body>​
    <center> ​
        <h1> Sistema de Reservas de Espaços Coletivos </h1>​​
        <br> <br>​
        {{{body}}}​
    </center>​
</body>​

</html>