<form action="/espacoUpdate" method="post">
    <input type="hidden" name="id" value={{espaco.id}}>
    Nome: <input type="text" name="nome" value="{{espaco.nome}}">
    <br> <br>
    <input type="submit" value="Editar">
</form>