<table border="1px">
    <tr>
        <td> Nome </td>
        <td> Editar </td>
        <td> Deletar </td>
    </tr>
    {{#each espacos}}
    <tr>
        <td>{{nome}}</td>
        <td><a href="espacoUpdate/{{id}}">Editar</a></td>
        <td><a href="espacoDelete/{{id}}">Deletar</a></td>
    </tr>
    {{/each}}
</table>